 <script type="text/javascript">
  links = new Array("http://www.eucurtoeucuido.com.br/","http://www.parceirosvoluntarios.org.br/","http://www.unisinos.br/", "http://www.portoalegre.rs.gov.br/");
  
  imagemAtual = 0;
  numImagens = links.length;
  
  function cicloImagens(){
      imagemAnterior = imagemAtual;
      imagemAtual++;
      if (imagemAtual == numImagens) {
          imagemAtual = 0;
      }
      jQuery("#left_banner" + imagemAnterior.toString()).hide();
      jQuery("#left a.logo-unisinos").attr("href", links[imagemAtual]);
      jQuery("#left_banner" + imagemAtual.toString()).fadeIn(800);
      
      setTimeout("cicloImagens()", 3 * 1000);
  }
  jQuery(document).ready(function() {
  cicloImagens();
  });
</script>
<div id="left">

	<div id="bgLogo">
		<h1><a href="/" id="logo"></a>PORTOALEGRE.CC</h1>
	</div>
	
	<div id="boxLeft">
		<div class="content">
			<h2>POR QUE O PROJETO</h2>
			<p>Krótki opis projektu, krótki opis projektu. Krótki opis projektu, krótki opis projektu. Krótki opis projektu, krótki opis projektu.&nbsp;<a href="javascript:;" class="lnkSobreProjeto" onclick="openModal('sobre_o_projeto');">Więcej</a></p>

			<div id="crieCausa">
				<a href="javascript:;" id="createCauseButton" class="lnkEscrever">DODAJ PROJEKT</a>
			</div>

      <div id="crieCausa" class="fake-last">
        <a href="javascript:;" id="createBudgetButton" class="lnkEscrever">DODAJ BUDŻET</a>
      </div>

			<ul id="redesSociais">
			</ul>
			<span class="break"><!--  --></span>
			
			<a class="logo-unisinos" href="http://www.unisinos.br/" onclick="GA.trackEvent('banners', 'clique', 'unisinos');" target="_blank">
        <img id='left_banner0' src="/images/eu_curto.png" style='display: none;'></img>
        <img id='left_banner1' src="/images/parceiros_voluntarios.png" style='display: none;'></img>
        <img id='left_banner2' src="/images/unisinos.png" style='display: none;'></img>
        <img id='left_banner3' src="/images/pref_poa.png" style='display: none;'></img>
      </a>        				
		</div>
	</div>

</div>
