<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>O projekcie</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>PORTOALEGRE.CC</h3>

					<p>Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu.</p>
					<p>Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu.</p>
					<p>Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu.</p>
					<p>Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu.</p>
					<p>Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu. Dosyć długi opis projektu, dosyć długi opis projektu.</p>
					<p>Skontaktuj się z <a href="javascript:;" onclick="openModal('fale_conosco');">nami</a> lub odwiedź nas na <a href="http://twitter.com/portoalegrecc" target="_blank">Twitter</a>, <a href="http://www.facebook.com/poa.cc" target="_blank">Facebook</a>, e <a href="http://www.orkut.com.br/Main#Profile?uid=16734001755679377771" target="_blank">Orkut</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/sobre_o_projeto');
</script>